nav {
    width: 100vw;
    height: 10vh;
    display: table-cell;
    border: 2px solid black;
    background-color: green;
}

ul,
p {
    display: inline-block;
    margin: 1rem;
    padding-left: 0.5rem;
}

h1, h2 {
    margin-top: 5rem;
}

button {
    background-color: aqua;
    margin-top: 2rem;
}
